.form {
    max-width: 400px;
    min-height: 340px;
    background-color: var(--primary);
    box-shadow: 7px 13px 37px  #000;
    padding: 20px 30px;
    border-top: 4px solid var(--secondary);
    margin-bottom: 30px;
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    &__h5 {
        color: var(--secondary);
        margin: 0;
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--secondary); 
        font-size: 1.5rem;
    }
    &__p {
        color: var(--terciario);
        height: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__input {
        border-style: none;
        width: 100%;
        border: 1px solid var(--secondary);
        color: var(--secondary);
        margin-bottom: 15px;
        padding: 11px 10px;
        background-color: var(--primary);
        font-size: 1.6rem;
        font-weight: bold;
        &::placeholder {
            color: var(--secondary);
            filter: brightness(.4);
        }
        &:focus {
            border: none;
            outline: 3px solid var(--secondary);
        }
    }
    &__button {
        width: 100%;
        height: 40px;
        background: var(--secondary);
        filter: brightness(.4);
        color: var(--primary);
        margin-bottom: 16px;
        font-size: 1.8rem;
        &:hover {
            cursor: pointer;
            filter: brightness(100%);
        }
    }
    &__a {
        text-decoration: none;
        color: white;
        font-size: 1.6rem;
        &:hover {
            text-decoration: underline;
            color: var(--secondary);
        }
    }
}



.rrss {
    &__main{
        &__container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-size: 1.8rem;
            align-items: center;
            margin-bottom: 30px;
        }
        &__icon {
            color: var(--secondary);
            &:hover {
                color: var(--terciario);
            }
        }
    }
}


