@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300&family=Yrsa:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	transition: all .5s ease;
}

*::selection {
    background-color: var(--secondary);
    color: var(--primary);
}

a {
	text-decoration: none;
	text-align: center;
}

.overflow__hidden {
	overflow: hidden;
}

h1, h2, .inicio__seccion__container__leer__mas {
	text-align: center;
}

h1{
	font-size: 2.25rem;
	font-weight: 700!important;
}

h2 {
	font-size: 1.8rem;
    font-weight: 300!important;
}
