$Primary: #0a0a0a;
$Secondary: #FFB700;
$Terciario: #fff;
$Menu__hover__mobile: #fff;
$Primary__opacity: #2c2926ef;

:root {
    --primary: #{$Primary};
    --secondary: #{$Secondary};
    --terciario: #{$Terciario};
    --menu__hover__mobile: #{$Menu__hover__mobile};
    --primary__opacity: #{$Primary__opacity};
}