<!DOCTYPE html>
<html lang="en">
<%- include("./cabecera", {titulo: "la seguridad que mereces"}) %>
<body class="body">
    <div class="content">
        <article class="main" id="main">
            <div class="error__container">
                <div class="error__number">
                    <h1>ERROR <div class="error__nro">4<a href="/"><img class="error__number__img" src="imagenes/Logo-primary.png" alt="0"></a>4</div></h1>
                </div>
                <div class="error__descripcion">
                    <p>No se ha encontrado la pagina que usted busca</p>
                </div>
                <button class="btn__home__back"><a href="/" class="link__btn__home__back">Volder a inicio</a></button>
            </div>
        </article>
    </div>
</body>
</html>

