<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %> | Cercos Del Oeste</title>
    <meta name="description" content="Son muchos los problemas que pueden surgir cuando se corta la electricidad, pero puede ponerles fin invirtiendo en una valla eléctrica de alta calidad. Las cercas tienen increíbles beneficios que van desde mantener a su familia y su propiedad a salvo, hasta asegurar que su ganado permanezca donde debe estar."/>
    <meta name="author" content="Anonymushadow">
    <meta name="copyright" content="Anonymushadow">
    <meta name="robots" content="index, follow">
    <meta http-equiv="expires" content="172800"/>
    <link rel="stylesheet" href="Normalize.css">
    <link rel="stylesheet" href="styles.css">
    <!--<script type="text/javascript">
        document.oncontextmenu = function(){return false;}
    </script>-->
    <link rel="icon" href="imagenes/logo/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/50f9a8590c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="theme-color" content="#FFB700" />
</head>