<h1 class="contacto__h1"><%= titulo %></h1>
            <p class="contacto__p">
                ¿Quiere mejorar su casa pero no tiene presupuesto? Nosotros podemos ayudarle. 
                Si quiere calidad, estilo y tranquilidad, llámenos hoy mismo.
            </p>
            <div class="form__container">
                <form action="/mail" class="form" method="POST">
                    <h5 class="form__h5">Formulario</h5>
                    <input class="form__input mail__input" name="email" type="email" placeholder="Email">
                    <input class="form__input msg__input" name="msg" type="text" placeholder="Mensaje">
                    <button class="form__button">Enviar</button>
                    <p class="form__p"><a class="form__a" href="#">Terminos de privacidad</a></p>
                </form>
                <div class="rrss__main__container">
                    <a href="https://ar.pinterest.com/cercosdeloeste/" class="footer__a footer__contactos__a" target="_blank"><i class="fa fa-brands fa-pinterest rrss__main__icon"></i></a>
                    <a href="https://www.instagram.com/el_oestecercos/" class="footer__a footer__contactos__a" target="_blank"><i class="fa fa-brands fa-instagram rrss__main__icon"></i></a>
                    <a href="https://www.facebook.com/milagros.gazal.5" class="footer__a footer__contactos__a" target="_blank"><i class="fa fa-brands fa-facebook rrss__main__icon"></i></a>
                    <a href="https://www.linkedin.com/in/cercos-del-oeste-998a72264/" class="footer__a footer__contactos__a" target="_blank"><i class="fa fa-brands fa-linkedin rrss__main__icon"></i></a>
                </div>
            </div>