<h1 class="nosotros__h1">Sobre Nosotros</h1>
<div class="nosotros__txt__container">
    <p class="nosotros__p animado izq">
        Cercos del oeste es una empresa que lleva años protegiendo los hogares de sus clientes. Sus profesionales altamente 
        capacitados tienen muchos años de experiencia en la prestación de la seguridad del hogar excepcional, y cada 
        trabajo se realiza con los más altos estándares utilizando la última tecnología de vanguardia.
    </p>
    <div class="nosotros__img__container">
        <img class="nosotros__img animado logo_nst" src="imagenes/logo/logo_primary.png" alt="">
    </div>
</div>
<div class="nosotros__txt__container">
    <div class="nosotros__img__container">
        <img class="nosotros__img animado izq logo_nst_dos" src="imagenes/logo/logo_secondary.png" alt="Cercos del oeste">
    </div>
    <p class="nosotros__p animado">
        Queremos proteger su hogar y su familia. Creemos que la protección debe ser sencilla y accesible para todos. 
        Nuestros sistemas de seguridad de confianza están diseñados para adaptarse a las necesidades de nuestros clientes, 
        tanto si se trata de su primera casa como si protege varias propiedades.
    </p>
</div>
<div class="nosotros__txt__container">
    <p class="nosotros__p animado izq">
        Somos una empresa joven pero con años de experiencia en el campo de la seguridad. Nuestro objetivo es ofrecer 
        servicios y productos de calidad, desarrollando nuevas soluciones para nuestros clientes, que se han beneficiado 
        de los resultados obtenidos a lo largo del tiempo.
    </p>
    <div class="nosotros__img__container">
        <img class="nosotros__img animado logo_nst_tres" src="imagenes/logo/logo_terciario.png" alt="Cercos del oeste">
    </div>
</div>
<div class="nosotros__txt__container">
    <div class="nosotros__img__container">
        <img class="nosotros__img animado izq logo_nst_cuatro" src="imagenes/logo/logo_cuarto.png" alt="Cercos del oeste">
    </div>
    <p class="nosotros__p animado">
        Hemos estado brindando la mejor calidad de servicio con productos para mantenerlo seguro.
        Cercos del oeste se enfoca en la innovación en todos los aspectos de sus productos y servicios, 
        haciendo del hogar un lugar más seguro y las personas que viven allí más felices.
        Cercos del oeste lleva AÑOS protegiendo los hogares de las personas, y nunca dejaremos que le pase nada al tuyo.
    </p>
</div>