<h1 class="nosotros__h1">Sobre Nosotros</h1>
<div class="nosotros__txt__container">
    <p class="nosotros__p animado izq">
        Cercos del Oeste es una empresa líder en la protección de hogares con más de 20 años de experiencia en el sector. 
        Nuestros profesionales altamente capacitados cuentan con una vasta experiencia en la prestación de servicios de 
        seguridad para hogares, lo que les permite cumplir con los más altos estándares de calidad en cada trabajo que 
        realizan.
    </p>
    <div class="nosotros__img__container">
        <img class="nosotros__img animado logo_nst" src="imagenes/content/nosotros__1.jpeg" alt="Equipo trabajando">
    </div>
</div>
<div class="nosotros__txt__container">
    <div class="nosotros__img__container">
        <img class="nosotros__img animado izq logo_nst_dos" src="imagenes/content/nosotros__2.jpeg" alt="Cercos del oeste">
    </div>
    <p class="nosotros__p animado">
        En Cercos del Oeste, estamos comprometidos en ofrecer a nuestros clientes los mejores productos y servicios 
        en el mercado de la protección del hogar. Por esta razón, utilizamos productos de la marca líder en cercos 
        eléctricos, Alari3. Estos productos son reconocidos a nivel mundial por su calidad, innovación y eficacia 
        en la protección de hogares y propiedades. Nuestro equipo altamente capacitado trabaja en conjunto con los 
        productos de Alari3 para ofrecer soluciones personalizadas que se adapten a las necesidades de cada cliente, 
        asegurando la seguridad y tranquilidad de su hogar y su familia.
    </p>
</div>
<div class="nosotros__txt__container">
    <p class="nosotros__p animado izq">
        En Cercos del Oeste, somos una empresa que combina la experiencia con la innovación para ofrecer soluciones de 
        seguridad de alta calidad a nuestros clientes. A pesar de nuestra juventud, hemos acumulado años de experiencia 
        en el campo de la seguridad y hemos establecido un historial de éxito en la satisfacción de nuestros clientes. 
        Nos enorgullece desarrollar soluciones personalizadas utilizando las últimas tecnologías y productos de alta 
        calidad, incluyendo los productos de seguridad líderes de la industria como Alari3.
    </p>
    <div class="nosotros__img__container">
        <img class="nosotros__img animado logo_nst_tres" src="imagenes/content/nosotros__3.jpeg" alt="Cercos del oeste">
    </div>
</div>
<div class="nosotros__txt__container">
    <div class="nosotros__img__container">
        <img class="nosotros__img animado izq logo_nst_cuatro" src="imagenes/logo/logo_primary.png" alt="Cercos del oeste">
    </div>
    <p class="nosotros__p animado">
        Nos enorgullece brindar la mejor calidad de servicio y productos para mantener seguro su hogar. Como empresa 
        innovadora en el campo de la seguridad, nos dedicamos a mejorar constantemente nuestros productos y servicios
        para brindar soluciones efectivas y personalizadas a nuestros clientes. Con años de experiencia en la protección  
        de hogares, en Cercos del Oeste nos tomamos en serio nuestra misión de hacer del hogar un lugar más seguro y 
        feliz para las personas que viven allí.
    </p>
</div>