<div class="navbar__menu__mobile hidden">
  <a href="#" class="navbar__menu__mobile__item nosotros__link">Sobre Nosotros</a>
  <a href="#" class="navbar__menu__mobile__item servicios__link">Servicios</a>
  <a href="#" class="navbar__menu__mobile__item preguntas__frecuentes__link">Preguntas Frecuentes</a>
  <a href="#" class="navbar__menu__mobile__item contactos__link">contactenos</a>
</div>
<nav class="navbar">
  <div class="navbar__desktop">
    <a href="#" class="navbar__item  nosotros__link">Sobre Nosotros</a>
    <a href="#" class="navbar__item servicios__link">Servicios</a>
    <div class="navbar__home__container inicio__link"></div>
    <a href="#" class="navbar__item preguntas__frecuentes__link">Preguntas Frecuentes</a>
    <a href="#" class="navbar__item contactos__link">contactenos</a>
  </div>

  <div class="navbar__mobile">
    <div class="navbar__mobile__item__container menu__btn">
      <div class="navbar__burguer">
        <span class="line__1"></span>
        <span class="line__2"></span>
        <span class="line__3"></span>
      </div>
    </div>
    <div class="navbar__home__container inicio__link">
      <a href="/" class="navbar__item" draggable="false">
      </a>
    </div>
    <div class="navbar__mobile__item__container theme">
      <i class="fas fa-solid fa-moon navbar__item__i"></i>
    </div>
  </div>
</nav>

<div class="theme__btn__desktop theme">
  <i class="fas fa-solid fa-moon navbar__item__i"></i>
</div>