<h1 class="acordeon__title"><% titulo %></h1>
            <div class="acordeon">
            <input type="text" class="acordeon__buscador" id="buscador" placeholder="Buscar" spellcheck=”false“ >
                <div class="acordeon__item">
                    <div class="acordeon__item__header"><p>¿Qué es un cerco eléctrico?</p></div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Un cerco electrico consiste en cables tensos que cubren un perímetro y están 
                                conectados a un dispositivo alimentado por un voltaje no letal llamado centro 
                                de mando.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Cuántos voltios tiene un cerco eléctrico?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Nuestras vallas eléctricas tienen 8.000 voltios en pulsaciones. 
                                La valla es un alambre galvanizado que lleva la carga y se extenderá a 
                                lo largo de las líneas de su propiedad o en cualquier lugar que necesite.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿En que tipo de propiedades instalan los cercos?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Instalamos cercas eléctricas en las casas o quintas (casas de campo). 
                                Trabajamos con postes y alambres para hacer un perímetro seguro, con 
                                puntos de entrada/salida para personas y animales.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Cuanto se tarda en instalar un cerco electrico?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>El coste y tiempo de la instalación depende del número de metros a cubrir. 
                                Le haremos una estimación precisa de los costes lo antes posible.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Como puedo saber si mi cerco esta funcionando correctamente?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>El controlador del cercado eléctrico muestra el valor de la pulsación actual y la 
                                frecuencia actual. Cuando se enciende la tensión, se enciende una luz amarilla en el 
                                tablero que indica que el cercado eléctrico se ha activado. Cuando se pulsa, este botón 
                                desconecta el cercado eléctrico y su luz indicadora cambia de amarillo a rojo</p>
                        </div>
                    </div>
                </div><div class="acordeon__item">
                    <div class="acordeon__item__header">¿Que pasa si se me corta la luz?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Sus mascotas son libres de vagar por su propiedad porque el cercado eléctrico de 
                                cierre automático utiliza una batería interna que proporciona hasta 24 horas de 
                                funcionamiento efectivo en caso de corte de energía.</p>
                        </div>
                    </div>
                </div><div class="acordeon__item">
                    <div class="acordeon__item__header">¿Puede un ladron desactivar mi cerco?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Las vallas eléctricas son muy fáciles de usar. Basta con encenderla, colocar la 
                                valla y cerrar la puerta. Este producto se puede apagar sólo desde el equipo o 
                                por control remoto, lo que le libera de cualquier preocupación de que alguien lo apague.</p>
                        </div>
                    </div>
                </div><div class="acordeon__item">
                    <div class="acordeon__item__header">¿Que pasa si se corta el cerco? </div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>En caso de que la valla sea cortada, dejará de enviar electricidad para 
                                evitar accidentes, pero la alarma no dejará de sonar para avisar a los 
                                propietarios hasta que la desactiven.</p>
                        </div>
                    </div>
                </div><div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los cercos necesitan mantenimiento?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Ofrecemos vallas eléctricas que no solo son eficaces y fiables, 
                                sino también de alta calidad. Nuestras vallas no necesitan mantenimiento 
                                ya que están especialmente construidas para durar mucho tiempo y funcionar 
                                eficazmente en cualquier tipo de entorno</p>
                        </div>
                    </div>
                </div><div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los componentes son en comodato?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Todos los componentes son proporcionados por nuestro personal e instalados, 
                                y luego pasan a ser propiedad de usted.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Deben realizar una visita para pasarme el presupuesto?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>podremos decirle cuánto cuesta la instalación de su cerco eléctrico. 
                                Después de que uno de nuestros técnicos se reúna con usted 
                                para determinar la ubicación y el precio de su valla 
                                eléctrica, Usted puede programar una fecha de instalación una vez 
                                que la mitad del costo total es pagado.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los presupuestos a domicilio tienen costo?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>No, ofrecemos presupuestos gratuitos de nuestro vallados</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Realizan facturas para la instalacion?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Sí, ofrecemos tanto facturas de tipo A (para contribuyentes individuales) 
                                como de tipo B (para consumidores finales). Como ha mencionado, el tipo de 
                                factura depende de la naturaleza de su empresa. Le recomendamos 
                                ,encarecidamente, que pida consejo a su contable sobre qué factura utilizar.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los cercos hay que cargarlos en caso de falta de electricidad?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>No es necesario cargar las vallas ya que la batería de su interior dura hasta 24 
                                horas en caso de apagones. El sistema de vigilancia de las vallas se encarga de 
                                garantizar que estén siempre cargadas.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Cuanto duran las baterias?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Ofrecemos una batería para esta valla de más de tres años. 
                                Si el equipo está en buen estado, no será necesario reemplazarlo. 
                                en el caso de que se agote contamos con repuestos.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los cercos contienen alarma?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Esta valla eléctrica está diseñada para mantener a su hogar seguro y protegido. Tiene una alarma 
                                sonora que va donde se coloca al equipo y viene con un sistema que se puede conectar a la central 
                                de alarmas de la casa.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Pueden haber falsas alarmas?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Sí, si un obstáculo bloquea el circuito de la señal, para restablecer el equipo es necesario acceder 
                                y cortar la llave de contacto en él para volver a ponerlo en marcha si una vez eco de ese fallo se sigue 
                                detectando algo, En este caso, es útil para llamar a un técnico que puede controlar con precaución y evitar 
                                posibles daños.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Son legales los cercos eléctricos?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>La instalación de un cercado eléctrico puede proporcionarle mayor seguridad y tranquilidad. 
                                Tanto si es un agricultor aficionado como un contratista profesional, existen requisitos legales 
                                para la instalación de un cercado eléctrico. Sólo suministramos cercas que cumplen con todos los 
                                requisitos legales.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Cuáles son las normativas de los cercos eléctricos?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Un cercado eléctrico debe cumplir la norma internacional IEC 60335-2-76 para su seguridad. Además, 
                                la instalación debe cumplir con las instrucciones de los anexos BB2 y CC de la misma norma.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Necesito alguna autorización para instalar un cerco eléctrico?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Siempre y cuando los equipos instalados y utilizados cumplan con las normas internacionales y 
                                los reglamentos de seguridad eléctrica vigentes en Argentina, no se requiere ningún permiso 
                                especial para instalar un cerco eléctrico en su propiedad.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Cómo están compuestos los cercos eléctricos?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Las vallas eléctricas constan de un electrificador, que contiene una tarjeta electrónica que genera 
                                impulsos de alta tensión. Estos se envían a través de un cable a una valla compuesta por postes, 
                                aislantes y alambres.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los cercos eléctricos son mortales?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Las vallas eléctricas son un elemento disuasorio no letal, muy eficaz para mantener a los invitados no deseados 
                                fuera de su patio, jardín o zona comercial. Estas vallas pueden instalarse en todo tipo de terrenos y estructuras, como entradas de vehículos y aceras. Se ha demostrado que las vallas eléctricas son 
                                increíblemente eficaces para mantener a los depredadores alejados de su patio, jardín o zona comercial.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Qué pasa si mi mascota toca el cerco por accidente?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>El voltaje de la descarga eléctrica suministrada por la valla eléctrica es de una intensidad tan baja que no pone 
                                en peligro la vida de los animales domésticos ni de las personas. De hecho, los generadores de energía están 
                                diseñados para proporcionar pulsos cortos y controlados de alto voltaje con una corriente muy baja.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Hay peligro con las plantas que rocen el cerco?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>El roce de las plantas con las vallas puede provocar falsas alarmas y/o la pérdida de potencia, por lo que se 
                                recomienda que las vallas sean instaladas por profesionales capacitados.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Hay peligro si llueve?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Las vallas de Cercos del oeste siguen teniendo un rendimiento excepcional en condiciones meteorológicas 
                                extremas como la lluvia y el frio.</p>
                        </div>
                    </div>
                </div>
                <div class="acordeon__item">
                    <div class="acordeon__item__header">¿Los cercos son visibles?</div> 
                    <div class="acordeon__item__body">
                        <div class="acordeon__item__body__content">
                            <p>Las vallas en el oeste suelen construirse para proteger su propiedad, y para ayudar a mantener a los 
                                instrusos fuera. Deben ser visibles por la seguridad de las personas, y se deben incorporar señales para 
                                advertir de su presencia, pero a pesar de ello, no afecta a la estética de su casa
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/mail" class="form" method="POST">
                <h5 class="form__h5">¿No encuentra su pregunta?</h5>
                <p class="form__p">envienos sus dudas mediante este formulario para aclararselas</p>
                <input class="form__input mail__input" type="email" name="email" placeholder="Email">
                <input class="form__input msg__input" type="text" name="msg" placeholder="Mensaje">
                <button class="form__button">Enviar</button>
                <p class="form__p"><a class="form__a" href="#">Terminos de privacidad</a></p>
            </form>