

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--terciario);
    border-bottom-color: var(--secondary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    &__container {
        background-color: var(--primary);
	    position: fixed;
	    width: 100vw;
	    height: 100vh;
	    z-index: 9999;
	    transition: all 1s;
	    display: flex;
	    justify-content: center;
	    align-items: center;
        }
    }

@keyframes rotation {
	0% {
    	transform: rotate(0deg);
	}

	100% {
    	transform: rotate(360deg);
	}
} 

.ocultar__loader {
	display: none;
}