<h1 class="inicio__h1">Cercos del oeste</h1>
<h2>La seguridad que mereces</h2>
<!--NOSOTROS-->
<div class="inicio__seccion__container">
    <div class="inicio__seccion__container__titulo">
        <h2 class="inicio__seccion__container__titulo__h2">Sobre Nosotros</h2>
    </div>
    <div class="inicio__seccion__container__img">
        <img class="inicio__seccion__img__logo" src="imagenes/Logo-primary.png" alt="" draggable="false">
    </div>
    <div class="inicio__seccion__container__txt">Cercos del oeste es una empresa que lleva años protegiendo los hogares de sus clientes. Sus profesionales altamente 
        capacitados tienen muchos años de experiencia en la prestación de la seguridad del hogar excepcional, y cada 
        trabajo se realiza con los más altos estándares utilizando la última tecnología de vanguardia.</div>
    <div class="inicio__seccion__container__leer__mas"><a href="#" class="inicio__seccion__container__leer__mas__a nosotros__link">Leer mas</a></div>
</div>

<!--SERVICIOS-->
<div class="inicio__seccion__container">
    <div class="inicio__seccion__container__titulo">
        <h2 class="inicio__seccion__container__titulo__h2">Servicios</h2>
    </div>
    <div class="inicio__seccion__container__img">
        <img class="inicio__seccion__img" src="servicios__img__1.png" alt="">
    </div>
    <div class="inicio__seccion__container__txt">Las cercas eléctricas están diseñadas para proteger su hogar contra los robos y a su familia. estas
        ofrecen una prevención de robos y una seguridad doméstica superiores, ofreciendo la tranquilidad 
       de saber que usted y su familia están a salvo.</div>
    <div class="inicio__seccion__container__leer__mas"><a href="#" class="inicio__seccion__container__leer__mas__a servicios__link">Leer mas</a></div>
</div>

<!--PREGNTAS FRECUENTES-->
<div class="inicio__seccion__container pf">
    <div class="inicio__seccion__container__titulo pf">
        <h2 class="inicio__seccion__container__titulo__h2 pf">Preguntas Frecuentes</h2>
    </div>
    <div class="inicio__seccion__container__txt pf">
        <div class="acordeon__item">
            <div class="acordeon__item__header"><p>¿Qué es un cerco eléctrico?</p></div> 
            <div class="acordeon__item__body">
                <div class="acordeon__item__body__content">
                    <p>Un cerco electrico consiste en cables tensos que cubren un perímetro y están 
                        conectados a un dispositivo alimentado por un voltaje no letal llamado centro 
                        de mando.</p>
                </div>
            </div>
        </div>
        <div class="acordeon__item">
            <div class="acordeon__item__header">¿Cuántos voltios tiene un cerco eléctrico?</div> 
            <div class="acordeon__item__body">
                <div class="acordeon__item__body__content">
                    <p>Nuestras vallas eléctricas tienen 8.000 voltios en pulsaciones. 
                        La valla es un alambre galvanizado que lleva la carga y se extenderá a 
                        lo largo de las líneas de su propiedad o en cualquier lugar que necesite.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inicio__seccion__container__leer__mas"><a href="#" class="inicio__seccion__container__leer__mas__a pf preguntas__frecuentes__link">Leer mas</a></div>
</div>

<!--CONTACTANOS-->
<div class="inicio__seccion__container">
    <div class="inicio__seccion__container__titulo">
        <h2 class="inicio__seccion__container__titulo__h2">Contactenos</h2>
    </div>
    <div class="inicio__seccion__container__img">
        <form action="/mail" class="form" method="POST">
            <h5 class="form__h5">Formulario</h5>
            <input class="form__input mail__input" name="email" type="email" placeholder="Email">
            <input class="form__input msg__input" name="msg" type="text" placeholder="Mensaje">
            <button class="form__button">Enviar</button>
            <p class="form__p"><a class="form__a" href="#">Terminos de privacidad</a></p>
        </form>
    </div>
    <div class="inicio__seccion__container__txt">¿Quiere mejorar su casa pero no tiene presupuesto? Nosotros podemos ayudarle. 
        Si quiere calidad, estilo y tranquilidad, llámenos hoy mismo.</div>
    <div class="inicio__seccion__container__leer__mas"><a href="#" class="inicio__seccion__container__leer__mas__a contactos__link">Leer mas</a></div>
</div>