<!DOCTYPE html>
<html lang="en">
<%- include("./templates/cabecera", {titulo: "inforacion de envio"}) %>
<body class="body">
    <div class="content">
        <article class="main" id="main">
            <h2 class="sendMail__h2"><%= texto %></h2>
            <button class="sendMail__button"><a href="/" class="sendMail__button__a">Volver al inicio</a></button>
        </article>
    </div>
    <footer class="footer">
     </footer>  
    <script src="scripts.js"></script>
</body>
</html>

