<h1 class="servicios__h1"><%= titulo %></h1>
            <div class="servicios__txt__container">
                <p class="servicios__p animado izq">
                    Las cercas eléctricas están diseñadas para proteger su hogar contra los robos y a su familia. estas
                     ofrecen una prevención de robos y una seguridad doméstica superiores, ofreciendo la tranquilidad 
                    de saber que usted y su familia están a salvo.
                </p>
                <div class="servicios__img__container">
                    <img class="servicios__img animado" src="imagenes/cercos__20.jpeg" alt="">
                </div>
            </div>
            <div class="servicios__txt__container">
                <div class="servicios__img__container">
                    <img class="servicios__img animado izq" src="imagenes/cercos__21.jpeg" alt="">
                </div>
                <p class="servicios__p animado">
                    Nuestros productos están diseñados y fabricados de acuerdo con los más altos estándares para ofrecerle los mayores 
                    niveles de seguridad, comodidad y fiabilidad - siempre utilizamos equipos y accesorios de alta calidad que nos 
                    permiten garantizar que tendrá una experiencia agradable en su hogar.
                </p>
            </div>
            <div class="servicios__txt__container">
                <p class="servicios__p animado izq">
                    Recibirá asesoramiento profesional para que pueda tomar la decisión correcta y elegir las características técnicas más 
                    adecuadas a sus necesidades. Le aconsejaremos sobre cómo optimizar sus recursos, ofreciéndole una amplia gama de servicios 
                    para protegerlos contra todos los posibles riesgos y daños.
                </p>
                <div class="servicios__img__container">
                    <img class="servicios__img animado" src="imagenes/cercos__19.jpeg" alt="">
                </div>
            </div>
            <div class="servicios__galeria">
                <img class="servicios__galeria__img" src="imagenes/cercos__1.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__2.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__3.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__4.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__5.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__6.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__7.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__8.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__9.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__10.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__11.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__12.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__13.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__14.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__15.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__16.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__17.jpeg"/>
                <img class="servicios__galeria__img" src="imagenes/cercos__18.jpeg"/>
            </div>
            <div class="servicios__galeria__img__ampliada servicios__galeria__img__ampliada__close">
                <div class="servicios__galeria__img__ampliada__container ">
                    <div class="close__btn__img"></div>
                    <img class="img__selected__open" src="servicios__img__1.png" alt="">
                </div>
            </div>