    <div class="footer__apartados__container">
        <div class="footer__logo__container">
        </div>
        <h2 class="footer__apartados__container__h2">Cercos del oeste</h2>
    </div>
    <div class="footer__apartados__container">
        <h2 class="footer__apartados__container__h2">Menu</h2>
        <ul class="ul">
            <li class="footer__item__container">
                <a href="#" class="footer__a footer__item__container__a nosotros__link">Sobre Nosotros</a>
            </li>
            <li class="footer__item__container">
                <a href="#" class="footer__a footer__item__container__a servicios__link">Servicios</a>
            </li>
            <li class="footer__item__container">
                <a href="#" class="footer__a footer__item__container__apreguntas__frecuentes__link">Preguntas Frecuentes</a>
            </li>
            <li class="footer__item__container">
                <a href="#" class="footer__a footer__item__container__a contactos__link">contactenos</a>
            </li>
        </ul>
    </div>
    <div class="footer__apartados__container">
        <h2 class="footer__apartados__container__h2">Contactos</h2>
        <ul class="ul">
            <li class="footer__item__container">
                <P class="footer__a footer__item__container__a">1126764947</P>
            </li>
            <li class="footer__item__container">
                <P class="footer__a footer__item__container__a">2235323435</P>
            </li>
            <li class="footer__item__container">
                <P class="footer__a footer__item__container__a">miMail@gmail.com</P>
            </li>
        </ul>
    </div>
    <div class="footer__apartados__container">
        <h2 class="footer__apartados__container__h2">Redes sociales</h2>
        <div class="footer__contactos__container">
            <div class="footer__item__container">
                <a href="#" class="footer__a footer__contactos__a"><i class="fa fa-brands fa-instagram footer__rrss"></i></a>
            </div>
            <div class="footer__item__container">
                <a href="#" class="footer__a footer__contactos__a"><i class="fa fa-brands fa-facebook footer__rrss"></i></a>
            </div>
            <div class="footer__item__container">
                <a href="#" class="footer__a footer__contactos__a"><i class="fa fa-brands fa-twitter footer__rrss"></i></a>
            </div>
            <div class="footer__item__container">
                <a href="#" class="footer__a footer__contactos__a"><i class="fa fa-brands fa-youtube footer__rrss"></i></a>
            </div>
        </div>
        <div class="footer__terminos__container">
            <p class="footer__terminos"><a href="#" class="footer__a">terminos y condiciones</a></p>
            <p class="footer__terminos"><a href="#" class="footer__a">Politica de privacidad</a></p>
        </div>
    </div>
    <div class="footer__derechos__container">
        <p>© Todos los derechos Reservados 2022 | Alari | Desarrollado por <a href="#"><img class="footer__gwc__img" src="gwc.png" alt="Golden Wolf Company"></a></p>
    </div>