<section class="main">
    <div class="contenedor">
        <div class="slider-contenedor">
            <section class="contenido-slider">
                <div>
                    <h2 class="slider__titulo">Sobre nosotros</h2>
                    <h2>Somos la seguridad que te mereces, con años de experiencia en 
                        seguridad perimetras y proteccion de sus hogares.</h2>
                    <a href="#">Contact us</a>
                </div>
                <img src="Logo.png" alt="">
            </section>
            <section class="contenido-slider">
                <div>
                    <h2 class="slider__titulo">Nuestros servicios</h2>
                    <h2>nos dedicamos a la seguridad de su familia y hogar, 
                        proporcionandoles tranquilidad y proteccion de forma 
                        rapida y facil.</h2>
                    <a href="#">Contact us</a>
                </div>
                <img src="Logo.png" alt="">

            </section>
        <section class="contenido-slider">
            <div>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</h2>
                <a href="#">Contact us</a>
            </div>
            <img src="Logo.png" alt="">

        </section>
        <section class="contenido-slider">
            <div>
                <h2 class="slider__titulo">Sobre nosotros</h2>
                <h2>Somos la seguridad que te mereces, con años de experiencia en 
                    seguridad perimetras y proteccion de sus hogares.</h2>
                    <a href="#">Contact us</a>
            </div>
            <img src="Logo.png" alt="">

        </section>
    </div>
    </div>
</section>